.container-trainor {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.container-trainor .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px; 
}

.container-trainor img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.holder {
    display: flex;
    position: relative; 
    align-items: flex-start;
    background-color: gray;
    opacity: 0.5;
    height: 200px;
    width: 1000px;
    margin-left: 10px; 
}

.holder h1 {
    position: absolute; 
    top: 10px;
    left: 10px; 
    color: white;
}
